@import "tailwindcss";
@theme {
    --container-container:1170px;
    --font-poppins :"Poppins", sans-serif;
    --color-primary: #FAFAFA ;
    --color-black: #000000 ;
    --color-white : #F5F5F5 ;
    --font-inter :  "Inter", sans-serif;
    --color-red : #DB4444 ;
}  
.one {
    display: grid;
   gap: 30px;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: repeat(2,284px);
}
.two {
   
background-color: red;
border-radius: 4px;
}
.two:nth-child(1) {
   grid-column-start: 1;
   grid-column-end: 3;
}
.two:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
}
.two:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}
.one .two img {
    width: 100%;
    height: 100%;
}