@import "tailwindcss";
@theme {
    --container-container:1170px;
    --font-poppins :"Poppins", sans-serif;
    --color-primary: #FAFAFA ;
    --color-black: #000000 ;
    --color-white : #F5F5F5 ;
    --font-inter :  "Inter", sans-serif;
    --color-red : #DB4444 ;
}  

/* 👇 YOU CAN PASTE YOUR CUSTOM SLICK-SLIDER CSS RIGHT HERE AT THE BOTTOM */
